# Datasets
/WaterScenes_Samples
/lars_v1.0.0_images_seq
/lars_v1.0.0_images
/lars_v1.0.0_annotations
/MODD2_video_data_rectified

# Model weights
segmentation/model/*.pth
depth/model/base/
depth/model/large/
depth/model/small/

# report
/ROB572_FinalReport_tayanwu_yrzhou_zzww

# Eval outputs
/eval_results*/

# Python
__pycache__/
*.pyc

# IDE / Claude
.claude/
